<Br><Br><br><br><footer>
  <span style="text-align: center">&copy; 2021 Discord Tickets
    <a style="color: #7289da" href="https://github.com/Luffy909/Discord-Tickets">Luffy99</a>.<br />
    All rights reserved.</span>
</footer>